@charset "UTF-8";

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body,
h5,
ul,
li,
figure,
p,
button {
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  overflow-x: hidden;
  font-family: "Microsoft Yahei",PingFangSC-Regular,Helvetica,"Droid Sans",Arial,sans-serif;
}

ul {
  list-style-type: none;
}

input,
button,
select {
  outline: 0;
  border: 0;
}

button {
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

/* font --> size */

.fz0 {
  font-size: 0;
}

.fz10 {
  font-size: 10px;
}

[data-dpr='2'] .fz10 {
  font-size: 20px;
}

[data-dpr='3'] .fz10 {
  font-size: 30px;
}

.fz11 {
  font-size: 11px;
}

[data-dpr='2'] .fz11 {
  font-size: 22px;
}

[data-dpr='3'] .fz11 {
  font-size: 33px;
}

.fz12 {
  font-size: 12px;
}

[data-dpr='2'] .fz12 {
  font-size: 24px;
}

[data-dpr='3'] .fz12 {
  font-size: 36px;
}

.fz13 {
  font-size: 13px;
}

[data-dpr='2'] .fz13 {
  font-size: 26px;
}

[data-dpr='3'] .fz13 {
  font-size: 39px;
}

.fz14 {
  font-size: 14px;
}

[data-dpr='2'] .fz14 {
  font-size: 28px;
}

[data-dpr='3'] .fz14 {
  font-size: 42px;
}

.fz15 {
  font-size: 15px;
}

[data-dpr='2'] .fz15 {
  font-size: 30px;
}

[data-dpr='3'] .fz15 {
  font-size: 45px;
}

.fz16 {
  font-size: 16px;
}

[data-dpr='2'] .fz16 {
  font-size: 32px;
}

[data-dpr='3'] .fz16 {
  font-size: 48px;
}

.fz17 {
  font-size: 17px;
}

[data-dpr='2'] .fz17 {
  font-size: 34px;
}

[data-dpr='3'] .fz17 {
  font-size: 51px;
}

.fz18 {
  font-size: 18px;
}

[data-dpr='2'] .fz18 {
  font-size: 36px;
}

[data-dpr='3'] .fz18 {
  font-size: 54px;
}

.fz19 {
  font-size: 19px;
}

[data-dpr='2'] .fz19 {
  font-size: 38px;
}

[data-dpr='3'] .fz19 {
  font-size: 57px;
}

.fz20 {
  font-size: 20px;
}

[data-dpr='2'] .fz20 {
  font-size: 40px;
}

[data-dpr='3'] .fz20 {
  font-size: 60px;
}

.fz21 {
  font-size: 21px;
}

[data-dpr='2'] .fz21 {
  font-size: 42px;
}

[data-dpr='3'] .fz21 {
  font-size: 63px;
}

.fz22 {
  font-size: 22px;
}

[data-dpr='2'] .fz22 {
  font-size: 44px;
}

[data-dpr='3'] .fz22 {
  font-size: 66px;
}

.fz23 {
  font-size: 23px;
}

[data-dpr='2'] .fz23 {
  font-size: 46px;
}

[data-dpr='3'] .fz23 {
  font-size: 69px;
}

.fz24 {
  font-size: 24px;
}

[data-dpr='2'] .fz24 {
  font-size: 48px;
}

[data-dpr='3'] .fz24 {
  font-size: 72px;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.block {
  display: block;
}

/* overflow */

.ovx-h {
  overflow-x: hidden;
}

.ovy-h {
  overflow-y: hidden;
}

.ovy-s {
  overflow-y: scroll;
}

.ovy-a {
  overflow-y: auto;
}

.ovx-s {
  overflow-x: scroll;
}

.ov-h {
  overflow: hidden;
}

/* show , hide */

.hide {
  display: none !important;
}

.fw100 {
  font-weight: 100;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

/* size */

.w100p {
  width: 100%;
}

.w50p {
  width: 50%;
}

.h100p {
  height: 100%;
}

.h50p {
  height: 50%;
}

/* position, float , transform */

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.pos-f {
  position: fixed;
}

.t0 {
  top: 0;
}

.l0 {
  left: 0;
}

.r0 {
  right: 0;
}

.b0 {
  bottom: 0;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.z8 {
  z-index: 8;
}

.z9 {
  z-index: 9;
}

.z10 {
  z-index: 10;
}

.z11 {
  z-index: 11;
}

.z12 {
  z-index: 12;
}

.z13 {
  z-index: 13;
}

.z14 {
  z-index: 14;
}

.z15 {
  z-index: 15;
}

.z16 {
  z-index: 16;
}

.z17 {
  z-index: 17;
}

.z18 {
  z-index: 18;
}

.z19 {
  z-index: 19;
}

.z20 {
  z-index: 20;
}

.t50p {
  top: 50%;
}

.l50p {
  left: 50%;
}

.trsde300 {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.trsde400 {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.trsde500 {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

.trs300 {
  -webkit-transition: .3s;
  transition: .3s;
}

.trs400 {
  -webkit-transition: .4s;
  transition: .4s;
}

.trs500 {
  -webkit-transition: .5s;
  transition: .5s;
}

.trf-ty_50p {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.trf-tx_50p {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.whs-nw {
  white-space: nowrap;
}

.tov-e {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.fsl-n {
  font-style: normal;
}

.td-n {
  text-decoration: none;
}

.td-u {
  text-decoration: underline;
}

.td-l {
  text-decoration: line-through;
}

/* flex */

.df-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.df-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fx-row-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.fx-row-nw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.fxw-w {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.fxw-n {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}

.fx1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex: 1;
}

.ai-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ac-sb {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.jc-c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jc-fe {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.jc-sa {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.jc-sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.as-fs {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.as-c {
  -ms-flex-item-align: center;
  align-self: center;
}

.as-fe {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.as-b {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

/* color , background-color */

.c-white {
  color: #fff;
}

.c-black {
  color: #000;
}

.flex-middlecenter {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

.flex-center {
  /*水平居中*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fx-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-between {
  /*水平两端分布*/
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-around {
  /*水平居中分布*/
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-vertical-stretch {
  /*竖向拉伸*/
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-baseline {
  /*垂直居中对齐*/
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

/*flex自身对齐:设置后则覆盖父容器*/

.flex-self-stretch {
  -ms-flex-item-align: stretch;
  align-self: stretch;
  /*拉伸*/
}

.flex-self-top {
  -ms-flex-item-align: start;
  align-self: flex-start;
  /*顶部对齐*/
}

.flex-self-middle {
  -ms-flex-item-align: center;
  align-self: center;
  /*垂直居中*/
}

.flex-self-bottom {
  -ms-flex-item-align: end;
  align-self: flex-end;
  /*底部对齐*/
}

.hidden {
  display: none;
}